/* Global styling for the entire page */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 1rem;
    background-color: #0D0D0D;
    color: #d4d4d4;
}

/* Styling for the page header */
header {
    padding: 3rem 0;
    text-align: center;
}

/* Styling for the main title in the header */
header h1 {
    margin: 3rem 0;
    font-size: 2rem;
}

/* Styling for CodeMirror editor */
.CodeMirror {
    font-size: 1rem;
}

/* Styling for CodeMirror editor with Dracula theme */
.CodeMirror.cm-s-dracula {
    height: 29rem;
}

/* Styling for buttons */
.button {
    background-color: #F2A71B;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    font-size: 1rem;
    margin: 2px 2px 22px 2px;
    cursor: pointer;
    padding: 0.4rem 1.1rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styling for the XML editor container */
.editor-container {
    width: 100%;
    height: 33rem;
    padding: 1rem;
    box-sizing: border-box;
}

/* Styling for the save button */
.save {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 20px 0;
    padding: 1rem 2rem;
}

/* Styling for modified lines */
.changed-line {
    background-color: #ffdb58;
}

/* Styling for the row container */
#row {
    display: flex;
    justify-content: space-between;
}

/* Styling for left and right boxes within the row */
.left-box,
.right-box {
    width: 45%;
    margin: 0 2rem 0;
    padding: 0 8rem 0;
}

/* Styling for labels */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #d4d4d4;
}

/* Additional styling for a specific label in the left box */
.left-box>label:nth-child(4) {
    margin-top: 3.3rem;
}

/* Styling for dropdowns and input fields */
select,
input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

/* Styling for custom dropdowns */
.custom-dropdown {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    font-size: 16px;
}

/* Styling for loading spinner */
.spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    display: none;
}

/* Keyframe animation for spinner rotation */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* Mobile Media Queries with vertical orientation */
@media screen and (max-width: 768px) and (orientation: portrait) {
    #row {
        flex-direction: column;
    }

    .left-box,
    .right-box {
        width: 100%;
        margin: 0;
        padding: 0;

    }

    header label,
    .left-box>label:nth-child(4) {
        margin-top: 1.1rem;
    }
}

/* Mobile Media Queries with horizontal orientation  */
@media screen and (max-width: 768px) and (orientation: landscape) {
    #row {
        flex-direction: column;
    }

    .left-box,
    .right-box {
        padding: 0 11rem;
    }
}